
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="mb-5">Yetenek Ekle</h1>

<form class="form-group" method="post">
    @Html.Label("Yetenek Başlğı")
    @*<label>Yetenek Başlığı</label>*@
    <input type="text" name="Title" class="form-control" />
    <br />
    <lable>Değer</lable>
    <input type="text" name="Value" class="form-control" />
    <br />
    <button class="btn btn-outline-info">Kaydet</button>
</form>
